@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body { margin: 0; padding: 0; box-sizing: border-box; overflow-x: hidden; width: 100vw; }

body .header { backdrop-filter: blur(5px); position: fixed; top: 0px; width: 100%; height: 35px; left: 0px; padding: 20px; display: flex; align-items: center; font-size: xx-large; background-color: white; border-bottom: 1px solid rgba(0, 0, 0, 0.05); z-index: 10; display: flex; justify-content: center; align-items: center; }

body .header .logo { display: flex; justify-content: center; align-items: center; font-weight: 300; font-size: 35px; letter-spacing: 2px; font-family: Roboto; }

body .header .logo img { width: 40px; padding-right: 1rem; }

body .main-container { width: 100%; height: auto; box-sizing: border-box; padding: 0 20%; line-break: auto; text-align: justify; font-family: 'Roboto', sans-serif; color: black; font-size: 18px; }

body .main-container .sub-heading { font-size: 2rem; font-weight: bold; margin-bottom: 20px; margin-top: 40px; }

body .main-container .youtube-video { display: flex; justify-content: center; align-items: center; padding-top: 1rem; }

body .main-container .youtube-video iframe { border-radius: 10px; }

body .main-container p { overflow-wrap: break-word; }

body .main-container .img { display: flex; flex-direction: column; justify-content: center; align-items: center; }

body .main-container .img img { display: flex; justify-content: center; width: 100%; }

body .main-container .img-caption { display: block; font-style: italic; text-align: center; }

body .main-container section { box-sizing: border-box; margin: 0 auto; text-align: justify; }

body .main-container .quote { font-family: 'Special Elite', cursive; color: black; display: flex; flex-direction: column; align-items: center; justify-content: center; padding-top: 1rem; }

body .main-container .quote span { font-size: 2rem; }

body .main-container .quote blockquote { font-weight: 700; font-size: 22px; max-width: 600px; line-height: 1.4; position: relative; margin: 0; padding: 0.5rem; text-align: center; }

body .main-container .heading .main-heading { display: flex; justify-content: center; align-items: center; font-family: fell, Georgia, Cambria, 'Times New Roman', Times, serif; font-size: 3rem; font-weight: 200; width: 100%; margin: 1rem 0; margin-top: 5rem; letter-spacing: -0.6px; line-height: 60px; text-align: center; }

body .main-container .heading .blog-details { display: flex; width: 100%; justify-content: space-between; }

body .main-container .heading .blog-details .left { display: flex; }

body .main-container .heading .blog-details .left .image { padding-right: 20px; }

body .main-container .heading .blog-details .left .image img { width: 60px; }

body .main-container .heading .blog-details .left .user { display: flex; flex-direction: column; display: flex; font-size: 14px; color: #333; }

body .main-container .heading .blog-details .left .user .name { height: 30px; display: flex; align-items: center; font-size: 16px; }

body .main-container .heading .blog-details .left .user .date { display: flex; align-items: center; height: 30px; color: gray; }

body .main-container .heading .blog-details .left .user .date:hover { text-decoration: underline; cursor: pointer; }

body .main-container .heading .blog-details .right { display: flex; }

body .main-container .heading .blog-details .right .icon { height: 30px; width: 30px; display: flex; justify-content: center; align-items: center; background-color: black; border-radius: 50%; margin-right: 10px; transition: all 0.3s; }

body .main-container .heading .blog-details .right .icon:hover { cursor: pointer; transform: scale(1.1); }

body .main-container .heading .blog-details .right .icon i { color: white; transition: all 0.2s; }

body .main-container .problem { width: 100%; }

body .main-container .problem .details { width: 100%; }

body .main-container .code pre { white-space: pre; }

body .main-container .code pre .code-section { font-size: 1rem; text-align: left; }

body .main-container .time-space .time-complexity, body .main-container .time-space .space-complexity { line-height: 2rem; }

body .main-container .time-space .complexity-heading span { font-weight: bold; }

body .main-container .analysis { margin-top: -1rem; }

body .main-container .analysis .steps { width: 100%; background-color: #ededed; padding-top: 1px; padding-right: 1rem; border-radius: 5px; }

body .main-container .analysis .steps ol li { padding-bottom: 1rem; }

body .footer { font-family: Roboto; }

body .footer .site-footer { background-color: #26272b; padding: 45px 0 20px; font-size: 15px; line-height: 24px; color: #737373; }

body .footer .site-footer hr { border-top-color: #bbb; opacity: 0.5; }

body .footer .site-footer hr.small { margin: 20px 0; }

body .footer .site-footer h6 { color: #fff; font-size: 16px; text-transform: uppercase; margin-top: 5px; letter-spacing: 2px; }

body .footer .site-footer a { color: #737373; }

body .footer .site-footer a:hover { color: #3366cc; text-decoration: none; }

body .footer .row { display: flex; width: 100%; justify-content: space-around; color: #ddd; }

body .footer .row .col { padding: 0 1rem; }

body .footer .row .col .heading { font-size: 24px; }

body .footer .row .col .heading span { font-weight: 800; }

body .footer .row .col-1 { width: 40%; padding-left: 3rem; }

body .footer .row .col-1 .text-justify { text-align: justify; }

body .footer .row .col-2 { width: 25%; display: flex; padding-left: 5rem; flex-direction: column; }

body .footer .row .col-2 .heading { font-size: 24px; font-weight: 300; }

body .footer .row .col-3 { width: 35%; }

body .footer .row .col-3 .heading { font-size: 24px; font-weight: 300; }

body .footer .footer-links { padding-left: 0; padding-right: 1rem; }

body .footer .footer-links ul { list-style: none; }

body .footer .footer-links li { display: block; line-break: auto; overflow: hidden; }

body .footer .footer-links li i { padding-right: 10px; }

body .footer .footer-links a { color: #aaa; text-decoration: none; }

body .footer .footer-links a:active, body .footer .footer-links a:focus, body .footer .footer-links a:hover { color: #ddd; text-decoration: none; }

body .footer .site-footer .social-icons { text-align: right; }

body .footer .site-footer .social-icons a { width: 40px; height: 40px; line-height: 40px; margin-left: 6px; margin-right: 0; border-radius: 100%; background-color: #33353d; }

body .footer .copyright-text { margin: 0; }

@media (max-width: 991px) { body .footer .site-footer [class^='col-'] { margin-bottom: 30px; } }

@media (max-width: 767px) { body .footer .site-footer { padding-bottom: 0; }
  body .footer .site-footer .copyright-text, body .footer .site-footer .social-icons { text-align: center; } }

body .footer .social-icons { padding-left: 0; margin-bottom: 0; list-style: none; }

body .footer .social-icons li { display: inline-block; margin-bottom: 4px; }

body .footer .social-icons li.title { margin-right: 15px; text-transform: uppercase; color: #96a2b2; font-weight: 700; font-size: 13px; }

body .footer .social-icons a { background-color: #eceeef; color: #818a91; font-size: 16px; display: inline-block; line-height: 44px; width: 44px; height: 44px; text-align: center; margin-right: 8px; border-radius: 100%; transition: all 0.2s linear; }

body .footer .social-icons a:active, body .footer .social-icons a:focus, body .footer .social-icons a:hover { color: #fff; background-color: #29aafe; }

body .footer .social-icons.size-sm a { line-height: 34px; height: 34px; width: 34px; font-size: 14px; }

body .footer .social-icons a.facebook:hover { background-color: #3b5998; }

body .footer .social-icons a.whatsapp:hover { background-color: #25d366; }

body .footer .social-icons a.twitter:hover { background-color: #00aced; }

body .footer .social-icons a.linkedin:hover { background-color: #007bb6; }

body .footer .social-icons a.instagram:hover { background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); }

@media (max-width: 767px) { body .footer .social-icons li.title { display: block; margin-right: 0; font-weight: 600; } }

@media (max-width: 768px) { body .blog-details .right { display: flex; align-items: center; }
  body .youtube-video iframe { width: 460px; }
  body .youtube-video:last-child { padding-bottom: 1.5rem; } }

@media (max-width: 700px) { body .blog-details { flex-direction: column; }
  body .blog-details .right { display: flex; padding-top: 1rem; }
  body .youtube-video iframe { width: 400px; }
  body .youtube-video:last-child { padding-bottom: 1.5rem; } }

@media (max-width: 600px) { body .youtube-video iframe { width: 300px; }
  body .youtube-video:last-child { padding-bottom: 1.5rem; }
  body .footer .site-footer { width: 100vw; }
  body .footer .row { flex-direction: column; width: 100%; }
  body .footer .row .col { box-sizing: border-box; padding: 0 2rem; overflow-x: hidden; width: 100%; line-break: auto; border-bottom: 1px solid #aaa; padding-top: 1rem; }
  body .footer .row .col:first-child { padding-top: 0; }
  body .footer .row .col:last-child { border: none; } }
