@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	width: 100vw;

	.header {
		backdrop-filter: blur(5px);
		position: fixed;
		top: 0px;
		width: 100%;
		height: 35px;
		left: 0px;
		padding: 20px;
		display: flex;
		align-items: center;
		font-size: xx-large;
		background-color: whitesmoke;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 300;
			font-size: 35px;
			letter-spacing: 2px;
			font-family: Roboto;

			img {
				width: 40px;
				padding-right: 1rem;
			}
		}
	}

	.main-container {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		padding: 0 20%;
		line-break: auto;
		text-align: justify;
		font-family: 'Roboto', sans-serif;
		color: black;
		font-size: 18px;

		// UTILITIES
		.sub-heading {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 20px;
			margin-top: 40px;
		}

		.youtube-video {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 1rem;

			iframe {
				border-radius: 10px;
			}
		}

		p {
			overflow-wrap: break-word;
		}

		.img {
			// display: block;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			img {
				display: flex;
				justify-content: center;
				width: 100%;
			}

			&-caption {
				display: block;
				font-style: italic;
				text-align: center;
			}
		}

		section {
			box-sizing: border-box;
			margin: 0 auto;
			text-align: justify;
		}

		.quote {
			font-family: 'Special Elite', cursive;
			color: black;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-top: 1rem;

			span {
				font-size: 2rem;
			}

			blockquote {
				font-weight: 700;
				font-size: 22px;
				max-width: 600px;
				line-height: 1.4;
				position: relative;
				margin: 0;
				padding: 0.5rem;
				text-align: center;
			}
		}

		.heading {
			.main-heading {
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: fell, Georgia, Cambria, 'Times New Roman', Times, serif;
				font-size: 3rem;
				font-weight: 200;
				width: 100%;
				margin: 1rem 0;
				margin-top: 5rem;
				letter-spacing: -0.6px;
				line-height: 60px;
				text-align: center;
			}

			.blog-details {
				display: flex;
				width: 100%;
				justify-content: space-between;

				@media (min-width: 768px) {
				}

				.left {
					display: flex;

					.image {
						padding-right: 20px;

						img {
							width: 60px;
						}
					}

					.user {
						display: flex;
						flex-direction: column;
						display: flex;
						font-size: 14px;
						color: #333;

						.name {
							height: 30px;
							display: flex;
							align-items: center;
							font-size: 16px;
						}

						.date {
							display: flex;
							align-items: center;
							height: 30px;
							color: gray;

							&:hover {
								text-decoration: underline;
								cursor: pointer;
							}
						}
					}
				}

				.right {
					display: flex;
					// justify-content: center;

					.icon {
						height: 30px;
						width: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: black;
						border-radius: 50%;
						margin-right: 10px;
						transition: all 0.3s;

						&:hover {
							cursor: pointer;
							transform: scale(1.1);
						}

						i {
							color: white;
							transition: all 0.2s;
						}
					}
				}
			}
		}

		.problem {
			width: 100%;

			.details {
				width: 100%;
			}
		}

		.code {
			pre {
				white-space: pre;

				.code-section {
					font-size: 1rem;
					text-align: left;
				}
			}
		}

		.time-space {
			.time-complexity,
			.space-complexity {
				line-height: 2rem;
			}

			.complexity-heading {
				span {
					font-weight: bold;
				}
			}
		}

		.analysis {
			margin-top: -1rem;

			.steps {
				width: 100%;
				background-color: #ededed;
				padding-top: 1px;
				padding-right: 1rem;
				border-radius: 5px;

				ol {
					li {
						padding-bottom: 1rem;
					}
				}
			}
		}
	}

	.footer {
		font-family: Roboto;

		.site-footer {
			background-color: #26272b;
			padding: 45px 0 20px;
			font-size: 15px;
			line-height: 24px;
			color: #737373;

			hr {
				border-top-color: #bbb;
				opacity: 0.5;
			}
			hr.small {
				margin: 20px 0;
			}
			h6 {
				color: #fff;
				font-size: 16px;
				text-transform: uppercase;
				margin-top: 5px;
				letter-spacing: 2px;
			}
			a {
				color: #737373;
			}
			a:hover {
				color: #3366cc;
				text-decoration: none;
			}
		}

		.row {
			display: flex;
			width: 100%;
			justify-content: space-around;
			color: #ddd;

			.col {
				padding: 0 1rem;

				.heading {
					font-size: 24px;
					span {
						font-weight: 800;
					}
				}
			}

			.col-1 {
				width: 40%;
				padding-left: 3rem;

				.text-justify {
					text-align: justify;
				}
			}

			.col-2 {
				width: 25%;
				display: flex;
				padding-left: 5rem;
				flex-direction: column;
				.heading {
					font-size: 24px;
					font-weight: 300;
				}
			}

			.col-3 {
				width: 35%;
				.heading {
					font-size: 24px;
					font-weight: 300;
				}
			}
		}

		.footer-links {
			padding-left: 0;
			padding-right: 1rem;

			ul {
				list-style: none;
			}

			li {
				display: block;
				line-break: auto;
				overflow: hidden;

				i {
					padding-right: 10px;
				}
			}

			a {
				color: #aaa;
				text-decoration: none;
			}
			a:active,
			a:focus,
			a:hover {
				color: #ddd;
				text-decoration: none;
			}
		}

		.site-footer .social-icons {
			text-align: right;
		}
		.site-footer .social-icons a {
			width: 40px;
			height: 40px;
			line-height: 40px;
			margin-left: 6px;
			margin-right: 0;
			border-radius: 100%;
			background-color: #33353d;
		}
		.copyright-text {
			margin: 0;
			display: flex;
			align-items: center;
		}
		@media (max-width: 991px) {
			.site-footer [class^='col-'] {
				margin-bottom: 30px;
			}
		}
		@media (max-width: 767px) {
			.site-footer {
				padding-bottom: 0;
			}
			.site-footer .copyright-text,
			.site-footer .social-icons {
				text-align: center;
			}
		}
		.social-icons {
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
		}
		.social-icons li {
			display: inline-block;
			margin-bottom: 4px;
		}
		.social-icons li.title {
			margin-right: 15px;
			text-transform: uppercase;
			color: #96a2b2;
			font-weight: 700;
			font-size: 13px;
		}
		.social-icons a {
			background-color: #eceeef;
			color: #818a91;
			font-size: 16px;
			display: inline-block;
			line-height: 44px;
			width: 44px;
			height: 44px;
			text-align: center;
			margin-right: 8px;
			border-radius: 100%;
			-webkit-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
			transition: all 0.2s linear;
		}
		.social-icons a:active,
		.social-icons a:focus,
		.social-icons a:hover {
			color: #fff;
			background-color: #29aafe;
		}
		.social-icons.size-sm a {
			line-height: 34px;
			height: 34px;
			width: 34px;
			font-size: 14px;
		}
		.social-icons a.facebook:hover {
			background-color: #3b5998;
		}
		.social-icons a.youtube:hover {
			background-color: #ff0000;
		}
		.social-icons a.telegram:hover {
			background-color: #0088cc;
		}
		.social-icons a.quora:hover {
			background-color: #b92b27;
		}
		.social-icons a.whatsapp:hover {
			background-color: #25d366;
		}
		.social-icons a.twitter:hover {
			background-color: #00aced;
		}
		.social-icons a.linkedin:hover {
			background-color: #007bb6;
		}
		.social-icons a.instagram:hover {
			background: linear-gradient(
				45deg,
				#f09433 0%,
				#e6683c 25%,
				#dc2743 50%,
				#cc2366 75%,
				#bc1888 100%
			);
		}
		@media (max-width: 767px) {
			.social-icons li.title {
				display: block;
				margin-right: 0;
				font-weight: 600;
			}
		}
	}

	@media (max-width: 768px) {
		.blog-details {
			.right {
				display: flex;
				align-items: center;
			}
		}

		.youtube-video {
			iframe {
				width: 460px;
			}

			&:last-child {
				padding-bottom: 1.5rem;
			}
		}
	}

	@media (max-width: 700px) {
		.blog-details {
			flex-direction: column;
			.right {
				display: flex;
				padding-top: 1rem;
			}
		}

		.youtube-video {
			iframe {
				width: 400px;
			}

			&:last-child {
				padding-bottom: 1.5rem;
			}
		}
	}

	@media (max-width: 600px) {
		.youtube-video {
			iframe {
				width: 300px;
			}

			&:last-child {
				padding-bottom: 1.5rem;
			}
		}

		.footer {
			.site-footer {
				width: 100vw;
			}
			.copyright-text {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.row {
				flex-direction: column;
				width: 100%;

				.col {
					box-sizing: border-box;
					padding: 0 2rem;
					overflow-x: hidden;
					width: 100%;
					line-break: auto;
					border-bottom: 1px solid #aaa;
					padding-top: 1rem;

					&:first-child {
						padding-top: 0;
					}
					&:last-child {
						border: none;
					}
				}
			}
		}
	}
}
